@page

<html>
<head>
    <meta charset="utf-8" />
    <title>一起帮</title>
</head>
<body>
    <h1>hello, luckystack!</h1>
    <span>
        重庆今天好热！
    </span>
    <span>
        希望明天下雨。
    </span>

    <form method="post">
        <label>用户名：</label> <input type="text" name="username" /><br />
        <label>密码：</label><input type="password" name="password" /><br />
        <label>性别：</label>
        <input type="radio" name="gender" value="male" /> 男
        <input type="radio" name="gender" value="female" />女 <br />
        <label>记住我：</label><input type="checkbox" value="true" /><br />
        <input type="submit" value="提交" />
    </form>


    <!-- 这段代码是后门，小心 -->
    <a href="/Log/On">
        <!-- <img src="/images/banner1.svg" title="我是title" alt="我是alt" />-->
    </a>
    <luckystack>hello, luckystack!</luckystack>

    <table border="1">
        <thead>
            <tr>
                <th colspan="2">h1h2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">row 1, cell 1</td>
                <td>row 1, cell 2</td>
            </tr>
            <tr>
                <td>row 2, cell 2</td>
            </tr>
        </tbody>
    </table>

</body>
</html>







