@page
@model LuckyStack.Pages.WebApi.GetLatestChatsModel


    <div id="8">
        <small>2019年9月30日 13点32分</small>
        <div>娃哈哈</div>
    </div>
    <div id="8">
        <small>2019年9月30日 13点32分</small>
        <div>源栈欢迎您</div>
    </div>
    <div id="8">
        <small>2019年9月30日 13点32分</small>
        <div>大飞哥帅得一逼</div>
    </div>
    <input type="text" />
    <input type="submit" />


