@page

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>On</title>
</head>
<body>
    <h1>/Article/Index</h1>
    <a href="../About">点我</a>
</body>
</html>
